<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzyx.dao.SellerMaterialMapper" >
  <resultMap id="BaseResultMap" type="com.wzyx.pojo.SellerMaterial" >
    <constructor >
      <idArg column="seller_material_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="admin_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="seller_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="phone_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="real_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="identity_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="identity_card_front_photo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="identity_card_back_photo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="business_license_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="business_license_photo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    seller_material_id, admin_id, seller_id, phone_number, real_name, identity_number, 
    identity_card_front_photo, identity_card_back_photo, business_license_number, business_license_photo, 
    status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wzyx_seller_material
    where seller_material_id = #{sellerMaterialId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wzyx_seller_material
    where seller_material_id = #{sellerMaterialId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wzyx.pojo.SellerMaterial" >
  <selectKey resultType="integer" keyProperty="sellerMaterialId" order="AFTER">
    select LAST_INSERT_ID()
  </selectKey>


    insert into wzyx_seller_material (admin_id, seller_id,
      phone_number, real_name, identity_number, 
      identity_card_front_photo, identity_card_back_photo, 
      business_license_number, business_license_photo, 
      status, create_time, update_time
      )
    values (#{adminId,jdbcType=INTEGER}, #{sellerId,jdbcType=INTEGER},
      #{phoneNumber,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{identityNumber,jdbcType=VARCHAR}, 
      #{identityCardFrontPhoto,jdbcType=VARCHAR}, #{identityCardBackPhoto,jdbcType=VARCHAR}, 
      #{businessLicenseNumber,jdbcType=VARCHAR}, #{businessLicensePhoto,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, now(), now())}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wzyx.pojo.SellerMaterial" >

    <selectKey resultType="integer" keyProperty="sellerMaterialId" order="AFTER">
      select LAST_INSERT_ID()
    </selectKey>

    insert into wzyx_seller_material
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sellerMaterialId != null" >
        seller_material_id,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="identityNumber != null" >
        identity_number,
      </if>
      <if test="identityCardFrontPhoto != null" >
        identity_card_front_photo,
      </if>
      <if test="identityCardBackPhoto != null" >
        identity_card_back_photo,
      </if>
      <if test="businessLicenseNumber != null" >
        business_license_number,
      </if>
      <if test="businessLicensePhoto != null" >
        business_license_photo,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="true" >
        create_time,
      </if>
      <if test="true" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sellerMaterialId != null" >
        #{sellerMaterialId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="identityNumber != null" >
        #{identityNumber,jdbcType=VARCHAR},
      </if>
      <if test="identityCardFrontPhoto != null" >
        #{identityCardFrontPhoto,jdbcType=VARCHAR},
      </if>
      <if test="identityCardBackPhoto != null" >
        #{identityCardBackPhoto,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseNumber != null" >
        #{businessLicenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="businessLicensePhoto != null" >
        #{businessLicensePhoto,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="true" >
        now(),
      </if>
      <if test="true" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wzyx.pojo.SellerMaterial" >
    update wzyx_seller_material
    <set >
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="identityNumber != null" >
        identity_number = #{identityNumber,jdbcType=VARCHAR},
      </if>
      <if test="identityCardFrontPhoto != null" >
        identity_card_front_photo = #{identityCardFrontPhoto,jdbcType=VARCHAR},
      </if>
      <if test="identityCardBackPhoto != null" >
        identity_card_back_photo = #{identityCardBackPhoto,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseNumber != null" >
        business_license_number = #{businessLicenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="businessLicensePhoto != null" >
        business_license_photo = #{businessLicensePhoto,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where seller_material_id = #{sellerMaterialId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wzyx.pojo.SellerMaterial" >
    update wzyx_seller_material
    set admin_id = #{adminId,jdbcType=INTEGER},
      seller_id = #{sellerId,jdbcType=INTEGER},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      identity_number = #{identityNumber,jdbcType=VARCHAR},
      identity_card_front_photo = #{identityCardFrontPhoto,jdbcType=VARCHAR},
      identity_card_back_photo = #{identityCardBackPhoto,jdbcType=VARCHAR},
      business_license_number = #{businessLicenseNumber,jdbcType=VARCHAR},
      business_license_photo = #{businessLicensePhoto,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where seller_material_id = #{sellerMaterialId,jdbcType=INTEGER}
  </update>

  <select id="selectBySellerId" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List"/>
    from wzyx_seller_material
      where seller_id = #{sellerId}
      order by create_time
  </select>

</mapper>